.form {
  background-color: whitesmoke;
  padding: 30px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.265);
  border-radius: 10px;
}

.form div {
  padding: 10px;
  font-size: 20px;
}

.form input,
.form select {
  outline: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
}

.form button {
  font-size: 20px;
  padding: 12px 16px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
}
